!!!
%html
  %head
    %script{src: 'https://s3.amazonaws.com/assets.heroku.com/boomerang/boomerang.js' }
    :javascript
      document.addEventListener("DOMContentLoaded", function() {
        // app:   The current user's application slug (example: 'fierce-fugu-42')
        // addon: Your add-on slug (example: 'heroku-postgresql')
        Boomerang.init({app: 'CHANGEME', addon: 'CHANGEME'});
      });

  %body
    %p Hello!
    %p You are using resource: #{@resource.id}.
    %p Located in: #{@resource.region}.
    %p On plan: #{@resource.plan}
    %p Logged in as: #{@email}
