!!!
%html
  %head
    %script{src: 'https://s3.amazonaws.com/assets.heroku.com/boomerang/boomerang.js' }
    :javascript
      document.addEventListener("DOMContentLoaded", function() {
        Boomerang.init({app: 'foo', addon: 'bar'});
      });

  %body
    %p Hello!
    %p You are using resource: #{@resource.id}.
    %p Located in: #{@resource.region}.
    %p On plan: #{@resource.plan}
    %p Logged in as: #{@email}
